*.pyc
.project
*.bak
*.vot
*.reg
*.fits
.idea
treasure_island.egg-info
.cache
.eggs
.pytest*
.coverage
.coverage.*
build/
dist/
wiki/
doc/_build/
.vscode
treasure_island/__pycache__
treasure_island/test.ipynb
test.ipynb
treasure_island/_version.py
